::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 8px;
    height: 2px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

header
{
    position: fixed;
    top: 0px;
    height: 20px;
    width: 100%;
    background: #888;
}

footer
{
    position: fixed;
    bottom: 0px;
    height: 20px;
    width: 100%;
    background: #888;
}

hr
{
    border: solid 1px #c4afaf;  

}

/* Tooltip 容器 */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #888; /* 悬停元素上显示点线 */
}
 
/* Tooltip 文本 */
.tooltip .tooltiptext {
    visibility: hidden;
    /* width: 100%; */
    width: 8em;
    /* max-width: 500%; */
    background-color: black;
    color: rgb(209, 206, 206);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* 定位 */
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 100;

    opacity: 0;
    transition: opacity 1s;
}
 
/* 鼠标移动上去后显示提示框 */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 100;
}

#original
{
    padding-right: 7em;
}

#translation
{
    padding-right: 4em;
}